<div id="optinContainer">
  <div class="optinBackground"></div>
  <div class="optinContent">
    <div class="title">{{t 'onboarding.title'}}</div>
    <ul>
      <li class="searchSimple clearfix">
        <span class="icon"></span>
        <div>
          {{log 'cliqz-onboarding-search-simple'}}
          <a class="suggestions" target="_blank" href="https://cliqz.com/products/tips">{{log 'cliqz-onboarding-suggestions'}}</a>
        </div>
      </li>

      <li class="surfSafe clearfix">
        <span class="icon"></span>
        <div>
          <a class="privacy" target="_blank" href="https://cliqz.com/whycliqz/privacy">{{log 'cliqz-onboarding-privacy'}}</a>&nbsp;
          {{log 'cliqz-onboarding-surf-safe'}}
         </div>
      </li>
      <li class="startFresh clearfix">
        <span class="icon"></span>
        <div>
          {{log 'cliqz-onboarding-start-fresh'}}
        </div>
      </li>
    </ul>

    <div class="optin-cta-con">
      <div class="cqz-optin-btn">
        {{log 'cliqz-onboarding-cool-thanks'}}
      </div>
    </div>

    <div class="footer">
      <a class="cliqzLearnMore" target="_blank" href="https://cliqz.com">{{log 'cliqz-onboarding-learn-more'}}</a>
      <span>{{log 'cliqz-onboarding-or'}}</span>
      <a class="fullTour" target="_blank" href="#">{{log 'cliqz-onboarding-full-tour'}}</a>
    </div>
  </div>
</div>