<div id="optinContainer">
  <div class="optinBackground"></div>
  <div class="optinContent">
    <div class="title">{{t 'onboarding.title'}}</div>
    <ul>
      <li class="searchSimple clearfix">
        <span class="icon"></span>
        <div>
          {{t 'onboarding.search-simple'}}
          <a class="suggestions" {{action 'openLink' "https://cliqz.com/products/tips" "suggestion" on='click'}} target="_blank" href="https://cliqz.com/products/tips">{{t 'onboarding.suggestions'}}</a>
        </div>
      </li>

      <li class="surfSafe clearfix">
        <span class="icon"></span>
        <div>
          <a class="privacy" {{action 'openLink' "https://cliqz.com/whycliqz/privacy" 'privacy' on='click'}} target="_blank" href="https://cliqz.com/whycliqz/privacy">{{t 'onboarding.privacy'}}</a>&nbsp;
          {{t 'onboarding.surf-safe'}}
        </div>
      </li>
      <li class="startFresh clearfix">
        <span class="icon"></span>
        <div>
          {{t 'onboarding.start-fresh'}}
        </div>
      </li>
    </ul>

    <div class="optin-cta-con">
      <div class="cqz-optin-btn" {{action "closeModal" "onboarding"}}>
        {{t 'onboarding.cool-thanks'}}
      </div>
    </div>

    <div class="footer">
      <a class="cliqzLearnMore" {{action 'openLink' "https://cliqz.com" 'learnMore' on='click'}} target="_blank" href="https://cliqz.com">{{t 'onboarding.learn-more'}}</a>
      <span>{{t 'onboarding.or'}}</span>
      <a class="fullTour" {{action 'fullTour' on='click'}}  target="_blank" href="#">{{t 'onboarding.full-tour'}}</a>
    </div>
  </div>
</div>